.a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 15px;
   } 
   .b {
    margin-right: 15px;
   }
   
   .c {
    margin-right: 15px;
   }

   .d {
    margin-right: 15px;
   }

   .e {
    margin-right: 15px;
   }

   .f {
    margin-right: 15px;
   }

   .bla {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
   }

   .z {
    background-color: darkgreen;
    border:none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: padding-top 1s,
      padding-bottom 1s,
      padding-left 1s,
      padding-right 1s;
   }

   .z:hover {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
   }

   .x {
    background-color: darkgreen;
    border:none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   }

   .x:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
   }

   .p {
    background-color: darkgreen;
    border:none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: padding-left 1s,
    padding-right 1s;
   }

   .p:hover {
    padding-left: 20px;
    padding-right: 20px;
   }
 